
@import "tailwindcss";

@theme{
    /* Text Color */
    --color-primaryText:#000;
    --color-secondaryText:#fafafa;
    --color-accent:#DB4444;
    /* Background Color */
    --color-bgPrimary:#000;
    --color-bgSecondary:#fafafa;
    --color-bgBtn:#DB4444;  

}

/* Hide scrollbar but keep scroll functionality */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
